<!-- <ul id="post-comments-<%= post._id %>">
    <% for(let cmt of post.comment){ %>
        <p>
            
        </p>
        
    <% } %>
</ul> -->

<li id="comment-<%= cmt._id %>">
    <%= cmt.content %> &nbsp;
    <small>
        By : 
        <%= cmt.user.name %>
    </small>
    <% if(locals.user) { %>
        <% if(locals.user.id == cmt.user.id || locals.user.id == post.user.id) { %>
            <a class="delete-comment-button" href="/comment/destroy?post_id=<%= post.user._id%>&cmt_id=<%= cmt._id%>">Delete Comment</a>
        <% } %>
    <% } %>
    
    
</li>