<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="/css/header.css"> -->
    <link rel="stylesheet" href="/css/home.css">
    <title><%= title%></title>

</head>
<body>
    <%- include("./header.ejs") -%>
    <h1>
        Welcome to my Social Networking Website!!
    </h1>

    <% if(locals.user){ %>
        <h4>
            Posts
        </h4>
    
        <section id="feed-news">
            <form action="/posts/createpost" id="post-form" method="post">
                <textarea name="content" cols="30" rows="3" placeholder="Type Here"></textarea>
                <input type="submit" value="Post">
            </form>
        </section>
    <% } %>

    <% if(locals.posts){ %>
        <h2>News Feed</h2>
        <ul>
            <% for(let post of posts){ %>
                <li>
                    <%= post.content %>
                </li>
                <small>
                    <%= post.user.name%>
                </small>

            <% } %>
        </ul>
    <%} %>


    <%- include("./footer.ejs") -%>
</body>
</html>