<head>
    <title><%= title%></title>
</head>
<body>
        <h1>Welcome to <%= profile_user.name%>'s Space</h1>

        <img src="<%= user.avatar%>" alt="<%= user.name%>" width="100px">

        <% if(user.id == profile_user.id) { %>
            <form action="/users/update/<%= profile_user.id %>" method="post" enctype="multipart/form-data">
                <input type="text" name="name" value="<%= profile_user.name %>" placeholder="Enter Your Name" required>
                <input type="email" name="email" value="<%= profile_user.email %>" placeholder="Enter Your Email" required>
                <input type="file" name="avatar" placeholder="Profile Picture">
                <input type="submit" value="Update">
            </form>
        <% }else{ %>
            <h2>
                Information
            </h2>

            <div class="info">
                <p>
                    <%= profile_user.name %>
                </p>
                <p>
                    <%= profile_user.email %>
                </p>
            </div>
        <% } %>
</body>